@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Garage 2.0";
}

<h2>Parkerade fordon</h2>

<p>
    @Html.ActionLink("Parkera fordon", "Create")
</p>
<table class="table display" id="sortTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kör ut", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>


<div id="smallView">
    <form method="get">
        <select name="sortOrder" onchange="this.form.submit();">
            <option value="RegNum">Registreringsnummer</option>
            <option value="Type">Fordonstyp</option>
            <option value="Make">Märke</option>
            <option value="Model">Modell</option>
            <option value="Color">Färg</option>
            <option value="ArrivalTime">Ankomstid</option>
        </select>
    </form>
    @*@Html.EnumDropDownListFor(model => model.Elements, htmlAttributes: new { @class = "form-control" })*@
    @*@Html.ValidationMessageFor(model => model.VehicleAttributes, "", new { @class = "text-danger" })*@


    @foreach (var item in Model)
    {
        <div class="well well-sm">
            <ul class="list-unstyled">
                <li><strong>@Html.DisplayNameFor(model => model.RegNum): </strong>@Html.DisplayFor(modelItem => item.RegNum)</li>
                <li><strong>@Html.DisplayNameFor(model => model.Type):  </strong>@Html.DisplayFor(modelItem => item.Type)</li>
                <li><strong>@Html.DisplayNameFor(model => model.Make):  </strong>@Html.DisplayFor(modelItem => item.Make)</li>
                <li><strong>@Html.DisplayNameFor(model => model.Model):  </strong>@Html.DisplayFor(modelItem => item.Model)</li>
                <li><strong>@Html.DisplayNameFor(model => model.Color):  </strong>@Html.DisplayFor(modelItem => item.Color)</li>
                <li><strong>@Html.DisplayNameFor(model => model.ArrivalTime):  </strong>@Html.DisplayFor(modelItem => item.ArrivalTime)</li>
            </ul>
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
            @Html.ActionLink("Kör ut", "Delete", new { id = item.Id })
        </div>

    }
</div>

